


<!-- <h1> {{ this.name }} </h1> -->
<!-- <h1> HELLO </h1>

<h1> {{ eventDetail}} </h1>
 -->

<!-- <h1> rqgwa </h1> -->
<!-- <div>
    <p> {{event.name}} </p>
    <p> {{event.date}} </p>
    <p> {{event.time}} </p>
    <p> {{event.address}} </p>
</div> -->

<div class="col-sm">
<div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{event.date}} </h6>
          <p class="card-text">{{event.address}}</p>
          <p class="card-text">Click the button for more details on this event</p>
          <a href="#" class="card-link">Attend</a>
          <a href="#" class="card-link">More information</a>
        </div>
      </div>

    </div>